<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Mónica Ramírez y Andrés Jiménez.
    http://www.github.com/nanekrak
    http://www.github.com/monicaarp
</p>

<img src="/images/andres.jpg" />
<img src="/images/monica.jpg" />

